name: panchakarma_management
description: A Flutter app for Panchakarma therapy management
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Firebase
  firebase_core: ^2.24.2
  firebase_auth: ^4.15.3
  cloud_firestore: ^4.13.6
  firebase_messaging: ^14.7.9
  flutter_local_notifications: 17.2.2


  # UI
  cupertino_icons: ^1.0.2
  intl: ^0.18.1

  # State Management (optional, using provider)
  provider: ^6.1.1

  # HTTP for Gemini API
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true